* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}

.svg_and_right_bar {
  height: 80%;
  cursor: default;
}

#svg {
  position: absolute;
}


#left_bar {
  position: absolute;
  top: 60px;
  padding:5px;
  margin-left: 15px;
  width: 55px;
  border: solid 2px rgba(0,0,0,0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
}

.left_bar_header {
  padding: 0px;
  background: rgba(0,0,0,0);
  text-align:center;
}

.zoombutton{
    display:inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	border: solid 2px #888;
	font-weight: 400;
	font-size:11pt;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.zoombutton:hover{
	border-color: #c33;
}

div.zoombutton:active{
	-webkit-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.5); 
}

.viewtype{
	position:absolute;
	top:110px;
	left:15px;
	height:45px;
	width:70px;
}

.advevalicon{
    float:right;
    display:inline-block;
    width:20px;
    height:20px;
    border: none;
    margin-top: -5px;
}

.advevaliconlink{
    float:right;
    display:inline-block;
    width:20px;
    height:20px;
    border: none;
    margin-top: -18px;
}

.viewicon{
    display:inline-block;
    width:55px;
    height:40px;
    border: solid 1px #888;
}

.viewicon:active{
    inset -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.showevolution{
    position:absolute;
    top:170px;
    left:22px;
    display:inline;
    float:left;
    width:50px;
    height: 18px;
    line-height: 16px;
    text-align:center;
    padding: 5px 5px 5px 0px;
    border: solid 1px #888;
    background: rgba(255, 255, 255,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    cursor:pointer;
}

#evolutionplay{
    font-size:16px;
    color: #666;
}

#evolutionpause{
    color: #666;
}

.evolutioncontrols{
  display:inline;
  padding: 0px 0px 0px 10px;
  width:22px;
    height:10px;
  font-weight:700;
  text-align:center;
  cursor:pointer;
}


.title_container{
  position:absolute;
  top:51px;
  left:100px;
  right:500px;
  padding:5px;
  text-align:center;
}

.conversation_title {
  display:inline;
  padding:6px 20px;
  border: solid 2px #bbb;
  border-top:none;
  background: rgba(255, 255, 255,1);
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius:5px;
}


.tutorial_panel {
  position: absolute;
  top: 235px;
  left: 22px;
  padding:8px 12px;
  border: solid 1px #888;
  width:320px;
  height:200px;
  text-align: justify;
  background: rgba(249, 248, 184, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}

.tutorial_panel_close{
	float:right;
	border: solid 1px #888;
	color:#444;
	font-size:13pt;
	font-weight:700;
	line-height:16px;
	width:16px;
	height:16px;
	margin: 0px 0px 5px 10px;
	text-align:center;
	cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
}


.tutorial_panel_click{
	position:absolute;
	width:90%;
	bottom:10px;
	left:5px;
	color:#888;
	text-align:right;
}


.language_panel {
  position: absolute;
  top: 310px;
  left: 55px;
  padding:30px 15px 10px 15px;
  border: solid 1px #888;
  width:270px;
  height:170px;
  text-align: center;
  background: rgba(245, 245, 245,0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}

.language_button{
	position:absolute;
	bottom:20px;
	right:20px;
	width: 60px;
	height: 22px;
	background: #b6ced8;
	line-height:20px;
	text-align: center;
}

#loading_conv_panel {
  position: relative;
  position: relative;
  top: 200px;
  padding:15px 10px 17px 15px;
  border: solid 1px #bbb;
  width: 255px;
  height: 12px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius:20px;
}

#loading_conv_icon {
  position: absolute;
  top: 11px;
  left: 30px;
  width:30px;
  height:30px;
  background: url(../img/wait.gif) no-repeat;
}

#loading_conv_text {
  position: absolute;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  left: 54px;
}

#editable_panel {
  position: relative;
  top: 150px;
  margin:0px auto;
  padding:25px 15px 10px 15px;
  border: solid 1px #bbb;
  background: rgba(245, 245, 245,0.9);
  width:400px;
  height: 160px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius:20px;
}

.btn_editable{
    display:inline-block;
	position:relative;
	width: 60px;
	height: 22px;
	line-height:20px;
	background: #dee9ed;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 3px;    
}


.advevalnode_panel {
  position: absolute;
  top: 310px;
  left: 55px;
  padding:30px 15px 10px 15px;
  border: solid 1px #888;
  width:350px;
  height:250px;
  text-align: center;
  background: rgba(245, 245, 245,0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}

.advevallink_panel {
  position: absolute;
  top: 310px;
  left: 55px;
  padding:30px 15px 10px 15px;
  border: solid 1px #888;
  width:350px;
  height:250px;
  text-align: center;
  background: rgba(245, 245, 245,0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}


.advevalnode_panel_buttons{
	position:absolute;
	bottom:10px;
	right:20px;
	width: 140px;
	height: 22px;
	line-height:20px;
	text-align: center;
}

.advevallink_panel_buttons{
	position:absolute;
	bottom:10px;
	right:20px;
	width: 140px;
	height: 22px;
	line-height:20px;
	text-align: center;
}


.advevalnode_panel_button{
	position:relative;
    display:inline-block;
	bottom:10px;
	right:20px;
	width: 60px;
	height: 22px;
	background: #b6ced8;
	line-height:20px;
	text-align: center;
}

.advevallink_panel_button{
	position:relative;
    display:inline-block;
	bottom:10px;
	right:20px;
	width: 60px;
	height: 22px;
	background: #b6ced8;
	line-height:20px;
	text-align: center;
}

.name_panel {
  position: absolute;
  top: 310px;
  left: 55px;
  padding:30px 15px 10px 15px;
  border: solid 1px #888;
  width:270px;
  height:170px;
  text-align: center;
  background: rgba(245, 245, 245,0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}

.name_panel_buttons{
	position:absolute;
	bottom:10px;
	right:20px;
	width: 140px;
	height: 22px;
	line-height:20px;
	text-align: center;
}

.name_panel_button{
	position:relative;
    display:inline-block;
	bottom:10px;
	right:20px;
	width: 60px;
	height: 22px;
	background: #b6ced8;
	line-height:20px;
	text-align: center;
}

#vis div {
  border: 1px dashed #ccc;
}


.right_bar{
  float:right;
  width:400px;
  min-width:400px;
  padding: 0px 10px 12px 10px;
  height:100%;
  background: rgba(245, 245, 245,0.8);
  border-left: solid 1px #888;
  border-bottom: solid 1px #888;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius:5px;
    margin-top: -4px;
}

#saving{
    position:absolute;
    display:inline-block;
    top:3px;
    width: 100px;
    height: 28px;
}

#savingicon{
    position:absolute;
    width: 30px;
    height: 30px;
    background: url("../img/wait.gif") no-repeat;
}

#savingtext{
    position:absolute;
    top:3px;
    left:30px;
    width: 70px;
    height: 28px;
}


.changevisualization{
	display: inline-block;
	width: 142px;
	height: 20px;
	background: #dee9ed;
	text-align: center;
	margin: 5px 0px 5px 0px;
	line-height:20px;
	font-size: 10pt;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.timevisdiv{
  width:100%;
  border-top: solid 1px #bbb;
  overflow: auto;
  padding: 0px 0px 20px 0px;
}

.divnodelegend {
  text-align:left;
  margin:0px 10px 0px 15px;
  color: #222;
}

.divnodecontent {
  padding: 4px 5px 7px 5px;
  display:relative;
  margin: 2px 10px 0px 10px;
  min-height: 22px;
  max-height: 2000px;
  background: rgb(255,255,255);
  border: solid 1px #000;
  border-color: #000;
  resize: vertical;
  overflow:auto;
  cursor: default;
  word-wrap: break-word;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
}

.divnodeinteract {
  margin:0px 10px 0px 15px;
  color: #222;
  height:24px;
}


#rightpanel{
	padding: 0px 3px;
}

.rbexpand{
  position:relative;
  float:right;
  margin:8px 4px 0px 0px;
  width:25px;
  height:14px;
  cursor:pointer;
}

.right_bar_header {
  background: #fff;
  overflow:hidden;
  height:37px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
}

.right_bar_title {
  padding: 6px;
  height:19px;
  background: rgb(227,226,230);
  line-height: 14pt;
  top: -10px;
  overflow:hidden;
  border: solid 3px #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.divareacontent {
  padding: 6px 2px 2px 6px;
  display:relative;
  margin: -5px 3px 0px 3px;
  height: 115px;
  min-height: 0px;
  max-height: 300px;
  background: rgb(255,255,255);
  border: solid 1px #bbb;
  resize: vertical;
  overflow:auto;
  cursor: text;
  word-wrap: break-word;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}


.justbutton{
	border: solid 1px #888;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

div.justbutton:hover{
	border-color: #c33;
}

div.justbutton:active{
	-webkit-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
}


.button{
	border: solid 1px #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

div.button:hover{
	border-color: #c33;
}

div.button:active{
	-webkit-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
}

.evalbutton{
	border-color: #666;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
}

div.evalbutton:hover{
	border-color: #c33;
}

div.evalbutton:active{
	-webkit-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
}


div.showreplypanel{
	display: inline-block;
	width: 90px;
	height: 35px;
	background: #dee9ed;
	text-align: center;
	margin: 10px 6px 0px 3px;
	line-height:35px;
	font-size: 11pt;
}

div.showconnectpanel{
	display: inline-block;
	width: 90px;
	height: 35px;
	text-align: center;
	margin: 10px 0px 0px 6px;
	line-height:35px;
	font-size: 11pt;
	background: #dee9ed;
}

.showedit{
    display: inline-block;
    width: 30px;
	height: 30px;
    margin: 0px 0px -12px 10px;
    background: #dee9ed;
}

#showediticon{
    background: url("../img/icon_edit.png") no-repeat;
    background-size: contain;   
    width: 20px;
	height: 20px;
    margin: 5px 0px 0px 5px;
}

div.smallshowreplypanel{
	display: inline-block;
	width: 64px;
	height: 20px;
	background: #dee9ed;
	text-align: center;
	margin: 1px 3px 0px 3px;
	line-height:20px;
	font-size: 9pt;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.smallshowconnectpanel{
	display: inline-block;
	width: 55px;
	height: 20px;
	text-align: center;
	margin: 1px 0px 0px 3px;
	line-height:20px;
	font-size: 9pt;
	background: #dee9ed;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.smallevalpos{
    display:inline-block;
	width: 25px;
	height: 16px;
	padding-top:2px;
	background: #a3ec93;
	border: solid 1px #666;
	color:#333;
	font-size: 8pt;
	text-align: center;
	margin: 0px 0px 0px 10px;
	-webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
}

div.smallevalneg{
    display:inline-block;
	width: 25px;
	height: 16px;
	padding-top:2px;
	background: #f2a6a6;
	color:#333;
	border: solid 1px #666;
	font-size: 8pt;
	text-align: center;
	margin: 0px 6px 0px 0px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
}


div.save{
    display:inline-block;
	position:relative;
	width: 60px;
	height: 22px;
	line-height:20px;
	background: #dee9ed;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 3px;
}

div.cancel{
    display:inline-block;
	position:relative;
	width: 60px;
	height: 22px;
	line-height:20px;
	background: #dee9ed;
	text-align: center;
	
}

div.evalpos{
    display:inline-block;
	width: 30px;
	height: 18px;
	padding-top:2px;
	background: #a3ec93;
	border: solid 1px #aaa;
	color:#333;
	font-size: 9pt;
	text-align: center;
	margin: 9px 0px 3px 10px;
	-webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
}

div.evalneg{
    display:inline-block;
	width: 30px;
	height: 18px;
	padding-top:2px;
	background: #f2a6a6;
	color:#333;
	border: solid 1px #aaa;
	font-size: 9pt;
	text-align: center;
	margin: 9px 6px 3px 0px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
}


.alerttext{
	display:inline-block;
	text-align:center;
	font-size:9pt;
	color: #c33
}

.linkalerttext{
	display:inline-block;
	font-size:9pt;
	color: #c33
}

.connecttext{
	margin:-15px 0px 0px 5px;
	display:block;
}

.areareply {
  padding: 6px 2px 2px 6px;
  min-height: 0px;
  height: 115px;
  width:100%;
  background: rgb(255,255,255);
  border: solid 1px #bbb;
  resize: vertical;
  overflow:auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.areareplysum {
  padding: 2px 2px 2px 2px;
  min-height: 0px;
  height: 24px;
  width:100%;
  background: rgb(255,255,255);
  border: solid 1px #bbb;
  resize: vertical;
  overflow:auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.areaname {
  display: inline-block;
  position: relative;
  top: 5px;
  border: yes;
  width: 120px;
  height: 20px;
  resize: none;
}


.replysavecancel{
  float: right;
  padding:7px 0px 0px 0px;
  height:26px;
}

.lower_bar {
  position: absolute;
  bottom: 0px;
  width: 97.7%;
  left:1%;
  margin-right:1%;
  padding:1px;
  height: 25px;
  background: rgba(245, 245, 245,0.8);
  border: solid 1px #bbb;
  border-bottom:none;
  overflow: hidden;
  cursor: default;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: height 500ms, border-color 300ms;
  -moz-transition: height 500ms, border-color 300ms;
  -o-transition: height 500ms, border-color 300ms;
  transition: height 500ms, border-color 300ms;
}

.lower_bar_elems {
  position: relative;
  width:96%;
  left: 3%;
  height: 25%;
  cursor: default;
}

.lower_hide {
  position: absolute;
  left:93%;
  width: 8%;
  height: 100%;
  cursor: default;
}

div.lower_hide_button{
	text-align: center;
	margin: 2px;
	width: 70px;
	cursor: pointer;
}

.lower_title {
  position: absolute;
  margin:2px;
  height: 20px;
  cursor: pointer;
}

.lower_text {
	position: absolute;
	left:30%;
	width:100%;
}

.lower_nodes {
  position: relative;
  top:30px;
  left:0%;
  width: 22%;
  height: 100%;
  cursor: default;
}

.lower_links {
  position: relative;
  top:30px;
  left:3%;
  width: 36%;
  height: 100%;
  cursor: default;
}

.lower_sizes {
  position: relative;
  top:30px;
  left:6%;
  width: 10%;
  height: 100%;
  cursor: default;
}

.lower_show {
  position: relative;
  top:30px;
  left:4%;
  width: 10%;
  height: 100%;
  cursor: default;
}

.lower_showauthors {
  position: relative;
  top:35px;
  left:25%;
  width: 10%;
  float:left; 
  color:#777; 
  cursor: pointer;
}

.lower_showsums {
  position: relative;
  top:18px;
  left:15%;
  width: 15%;
  float:left; 
  color:#777; 
  cursor: pointer;
}

.lower_showtexts {
  position: relative;
  top:53px;
  left:38%;
  width: 15%;
  float:left; 
  color:#777; 
  cursor: pointer;
}

.sliderpanel{
    position: relative;
    float: left;
    top: 25px;
    left: 9%;
    display: inline;
    width: 140px;
    height: 80px;
    padding: 5px;
    background: none repeat scroll 0% 0% rgba(245, 245, 245, 0.8);
}


.noselect{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.shadow{
	-webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2); 
}

.shadow2{
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3); 
}


#big_background {
  position: absolute;
  width: 100%;
  height:100%;
  background:rgba(255,255,255,0.7);
}

.huge_panel_1 {
	position: fixed;
	top:25%;
	height:70%;
	left:0%;
	width: 100%;
	background: rgba(255, 255, 255, 0);
}

.huge_panel_2 {
	display: inline-block;
	position: fixed;
	top:15%;
	left:130%;
	width: 38%;
	height: 70%;
	padding:10px 20px;
	background: rgba(231, 239, 253, 0.7);
	border: solid 1px #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.huge_panel_3 {
	display: inline-block;
	position: fixed;
	top:15%;
	left:140%;
	height: 400px;
	padding:25px 35px;
	background: rgba(65,99,233,0.1);
	background: rgba(231, 239, 253, 0.7);
	border: solid 1px #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.big_panel{
	display: inline-block;
	position:relative;
	margin-left:35px;
	margin-right:35px;
	width: 240px;
	height: 320px;
	background: rgba(65,99,233,0.1);
	background: rgba(210, 212, 254, 0.35);
	border: solid 1px #ccc;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.big_button{
	display: inline-block;
	position: relative;
	top: 90px;
	margin:0px;
	width: 150px;
	height: 80px;
	background: #b3b3ff;
	text-align: center;
	line-height:80px;
	font-size: 17pt;
	border: solid 2px #336;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

.big_label{
	display: inline-block;
	position: relative;
	top: 125px;
	margin:0px;
	width: 240px;
	height: 30px;
	background: rgba(0,0,0,0);
	text-align: center;
	line-height:10px;
	font-size: 12pt;
}

div.big_button:hover{
	border-color: #c33;
}

div.big_button:hover + .big_label{
	text-shadow: 0 0 0.05em #fc0,  0 0 0.05em #fc0, 0 0 1.5em #fc3;
}

div.big_button:active{
	-webkit-box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

.conv_select_panel{
	display: block;
	position: absolute;
	margin-top:5px;
	width: 240px;
	height: 30px;
	background: rgba(0,0,0,0);
}

.conv_select_ddcslick{
	height: 250px;
}

.conv_label{
	display:block;
	position:relative;
	text-align:center;
	font-size:12pt;
	color: #000;
}
.conv_info{
	display: inline-block;
	position: absolute;
	height: 58%;
	width: 89%;
	background: rgba(0,0,0,0);
    border: solid 1px #aaa;
	margin-top:75px;
	text-align:center;
	line-height: 150px;
	font-size:13pt;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

.bt_panel{
	display: inline-block;
	position:absolute;
	left:5%;
	width: 90%;
	bottom:-10px;
}

.bt_panel2{
	display: inline-block;
	position:absolute;
	left:5%;
	width: 90%;
	bottom: 1px;
}

.conv_ok{
	display: inline-block;
	position:relative;
	width: 90px;
	height: 35px;
	margin:20px;
	background: #b6ced8;
	text-align: center;
	line-height:35px;
	font-size: 12pt;
}

.conv_cancel{
	display: inline-block;
	position:relative;
	width: 90px;
	height: 35px;
	margin:20px;
	background: #b6ced8;
	text-align: center;
	line-height:35px;
	font-size: 12pt;
}

.new_header {
  width: 98%;
  background: rgb(227,226,230);
  border: solid 1px #aaa;
  height:22px;
  padding: 4px 4px 4px 4px;
  text-align:center;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.new_title {
  width: 98%;
  height: 20px;
  border: solid 1px #aaa;
  padding: 4px 4px 4px 4px;
  resize: none;
  margin-top:-1px;
}

.new_first {
  display: inline-block;
  width: 98%;
  padding: 4px 4px 4px 4px;
  min-height: 0px;
  height: 100px;
  max-height:180px;
  border: solid 1px #aaa;
  resize: vertical;
  margin-top:-1px;
}

.new_name_header {
  padding: 0px 4px 3px 4px;
  height:15px;
  text-align:left;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.new_name {
  display: inline;
  position: relative;
  padding:3px 3px 2px 3px;
  width: 150px;
  height: 18px;
  border: solid 1px #aaa;
  margin-bottom: 5px;
  text-align: left;
  resize: none;
  margin-top:-1px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

.new_selectlanguage {
  float:right; 
  padding-right:5px; 
  text-align:left;
}

.radiosel {
  display: inline-block;
  width: 98%;
  padding: 4px 4px 4px 4px;
  bottom:85px;
  text-align:center;
}

.node {
  stroke-width: 2px;
}

.link {
  stroke-opacity: .7;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; z-index: -10; display: block; }

.ui-resizable-w {  
    z-index: -100; 
    cursor: w-resize;
    width: 4px;
    left: -5px;
    top: 0%;
    height: 98%;
    border: solid 1px #bbb; 
    border-width: 0px 0px 0px 1px;
    border-image: none;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0);
}

.ui-resizable-w:hover { 
	z-index: -100; 
	cursor: w-resize; 
	width: 5px; 
	left: -7px; 
    top: 0%;
    height: 98%;
	border: solid 1px #bbb; 
    border-width: 0px 0px 0px 1px;
	background: rgba(255, 255, 255, 0.3); 
}