* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
}

#headerMain {
    background: #000;
    text-align: right;
    width: 100%;
    height: 45px;
	padding-top:5px;
    cursor: default;
}

.header {
    display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    cursor: default;
}


#headerName {
    position: absolute;
    left: 0px;
    font-size: 20pt;
    color:#fff;
    margin: 5px;
    padding-left: 10px;
    vertical-align: top;
}

#headerMenu {
    position: absolute;
    left: 500px;
    font-size: 12pt;
    color:#fff;
	line-height: 45px;
	text-decoration: underline;
	cursor: pointer;
}

#headerUrl {
    position: absolute;
    left: 300px;
    font-size: 12pt;
    color:#fff;
	line-height: 45px;
}

#headerImport {
}

#headerExport {
    border-width:thin;
    border-style:solid;
    border-color:#ccc;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:2px;
    padding-bottom:2px;
    margin-left: 0px;
    margin-right: 20px;
}

#headerExportLink {
    color:#eee;
    text-decoration:none;
}


#headerChangeVis {
}

#headerUserName {
    height: 20px;
}

#namebox {
    resize: none;
    width: 80px;
    height: 20px;
}


#visualisationMain {
    width: 100%;
}

