* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}


#headerMain {
    background: #aaa;
    text-align: right;
    vertical-align: center;
    width: 100%;
    min-height: 40px;
}

#headerName {
    display: inline-block;
    margin: 5px;
    font-size: 20pt;
    position: absolute;
    left: 0px;
}

#headerExport, #headerImport {
    display: inline-block;
    margin: 5px;
    min-width: 200px;
}

#visualisationMain {
    width: 100%;
}


