* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}


.svg_and_right_bar {
  height: 80%;
}

.right_bar_header {
  padding: 4px 4px 4px 4px;
  background: #cce;
}

.right_bar_title {
  line-height: 14pt;
  top: -10px;
}

.areacontent {
  width: 98%;
  min-height: 120px;
}

.areareply {
  border: yes;
  width: 98%;
  min-height: 90px;
}

.areaname {
  border: yes;
  width: 30%;
  height: 17px;
}

.lower_bar {
  position: absolute;
  bottom: 0px;
  background: #cce;
  width: 100%;
  height: 19px;
}
/* HEIGHT IS DEFINED ALSO IN hideshowfilters() function !!!  */

.legend_bar {
  position: absolute;
  bottom: 19px;
  background: #cce;
  width: 100%;
  height: 100px;
}
/* HEIGHT IS DEFINED ALSO IN hideshowlegend() function !!!  */

.lower_bar_elems {
  position: relative;
  left: 3%;
  height: 25%;
}

.legend_bar_elems {
  position: relative;
  left: 3%;
  height: 25%;
}

.filters_title {
  position: relative;
  width: 10%;
  height: 100%;
}

.filt_nodes {
  position: relative;
  top:15px;
  width: 19%;
  height: 100%;
}

.filt_links {
  position: relative;
  top:15px;
  left:5%;
  width: 36%;
  height: 100%;
}

.filt_sizes {
  position: relative;
  top:15px;
  left:8%;
  width: 10%;
  height: 100%;
}

.legend_title {
  position: relative;
  width: 10%;
  height: 100%;
}

.legend_nodes {
  position: relative;
  top:15px;
  width: 19%;
  height: 100%;
}

.legend_links {
  position: relative;
  top:15px;
  left:5%;
  width: 36%;
  height: 100%;
}


.filt_hide {
  position: relative;
  left:6%;
  width: 20%;
  height: 100%;
}


.legend_hide {
  position: relative;
  left:16%;
  width: 20%;
  height: 100%;
}


div.save{
    display:inline-block;
	width: 80px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #396;
	text-align: center;
	margin: 5px;
}

div.showreplypanel{
	display: inline-block;
	width: 100px;
	height: 40px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #396;
	text-align: center;
	margin: 5px;
	line-height:40px;
	font-size: 14pt;
}

div.showconnectpanel{
	display: inline-block;
	width: 100px;
	height: 40px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #99f;
	text-align: center;
	margin: 5px;
	line-height:40px;
	font-size: 14pt;
}

div.filt_hide_button{
	text-align: center;
	margin: 5px;
}

div.legend_hide_button{
	text-align: center;
	margin: 5px;
}

div.cancel{
    display:inline-block;
	width: 80px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #c93;
	text-align: center;
	margin: 5px;
}

div.evalpos{
    display:inline-block;
	width: 30px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #3c3;
	text-align: center;
	margin: 4px;
}

div.evalneg{
    display:inline-block;
	width: 30px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f63;
	text-align: center;
	margin: 4px;
}

div.posvotes{
    display:inline-block;
	width: 30px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	text-align: left;
}

div.negvotes{
    display:inline-block;
	width: 30px;
	height: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	text-align: left;
}

#svg {
  position: absolute;
  left: 0;
  top: 40px;
  width: 70%;
  height: 80%;
}

#right_bar {
  position: relative;
  top: 1px;
  margin-left: 70%;
}

#vis div {
  border: 1px dashed #ccc;
}

.node {
  stroke: #af0;
  stroke-width: 1.5px;
}

.link {
  stroke-opacity: .8;
}

