* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}


.svg_and_right_bar {
  height: 80%;
  cursor: default;
}

.left_bar_header {
  padding: 4px 4px 4px 4px;
  background: rgba(0,0,0,0);
}

.right_bar_header {
  padding: 4px 4px 4px 4px;
  background: rgb(227,226,230);
  border: solid 1px #636;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.right_bar_title {
  padding: 6px 6px 6px 6px;
  background: rgb(227,226,230);
  line-height: 14pt;
  top: -10px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.areacontent {
  padding: 8px 4px 4px 8px;
  width: 96.2%;
  min-height: 0px;
  height: 60px;
  border: solid 1px #636;
  resize: vertical;
  cursor: default;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.divareacontent {
  padding: 8px 4px 4px 8px;
  width: 96.2%;
  min-height: 0px;
  height: 60px;
  background: rgb(255,255,255);
  border: solid 1px #636;
  resize: vertical;
  overflow:auto;
  cursor: default;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.areareply {
  border: yes;
  width: 365px;
  min-height: 0px;
  height: 60px;
  border: solid 1px #636;
  resize: vertical;
}

.areaname {
  display: inline-block;
  position: relative;
  top: 5px;
  border: yes;
  width: 30%;
  height: 20px;
  resize: none;
}

.legend_bar {
  position: absolute;
  bottom: -82px;
  background: rgba(204,204,255,0.7);
  width: 99%;
  height: 198px;
  border: solid 2px rgba(51,51,153, 0.4);
  cursor: default;
  margin-left:0.5%;
  margin-right:0.5%;
   	-moz-border-radius: 10px;
	border-radius: 10px;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 700ms;
  transition-property: bottom;
  transition-duration: 700ms;
}

/* HEIGHT IS DEFINED ALSO IN hideshowlegend() function !!!  */

.lower_bar {
  position: absolute;
  bottom: -182px;
  background: rgba(204,204,255,1);
  width: 99%;
  height: 198px;
  border: solid 2px rgba(51,51,153, 0.4);
  cursor: default;
   margin-left:0.5%;
  margin-right:0.5%;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 500ms;
  transition-property: bottom;
  transition-duration: 500ms;
}

/* HEIGHT IS DEFINED ALSO IN hideshowfilters() function !!!  */

.lower_bar_elems {
  position: relative;
  left: 3%;
  height: 25%;
  cursor: default;
}

.legend_bar_elems {
  position: relative;
  left: 3%;
  height: 25%;
  cursor: default;
}
  cursor: default;
}

.filt_hide {
  position: relative;
  left:6%;
  width: 20%;
  height: 100%;
  cursor: default;
}

.lower_hide {
  position: relative;
  /*left:16%;*/
  width: 20%;
  height: 100%;
  cursor: default;
}

div.filt_hide_button{
	text-align: center;
	margin: 5px;
	cursor: default;
}

div.lower_hide_button{
	text-align: center;
	margin: 5px;
	cursor: default;
}

.filters_title {
  position: relative;
  width: 10%;
  height: 100%;
  cursor: default;
}

.filt_nodes {
  position: relative;
  top:15px;
  width: 19%;
  height: 100%;
  cursor: default;
}

.filt_links {
  position: relative;
  top:15px;
  left:5%;
  width: 36%;
  height: 100%;
  cursor: default;
}

.lower_sizes {
  position: relative;
  top:15px;
  left:8%;
  width: 10%;
  height: 100%;
  cursor: default;
}

.lower_title {
  position: relative;
  width: 10%;
  height: 100%;
  cursor: default;
}

.lower_nodes {
  position: relative;
  top:15px;
  width: 19%;
  height: 100%;
  cursor: default;
}

.lower_links {
  position: relative;
  top:15px;
  left:5%;
  width: 36%;
  height: 100%;
  cursor: default;
}



div.noselect{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

div.button{
	border-style: solid;
	border-width: 1px;
	border-color: #336;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

div.button:hover{
	border-color: #c33;
}

div.button:active{
	-webkit-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

div.showreplypanel{
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #99f;
	text-align: center;
	margin: 5px;
	line-height:40px;
	font-size: 13pt;
}

div.showconnectpanel{
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #c93;
	text-align: center;
	margin: 5px;
	line-height:40px;
	font-size: 13pt;
}

div.save{
    display:inline-block;
	width: 80px;
	height: 20px;
	background: #6c6;
	text-align: center;
	margin: 5px;
}

div.cancel{
    display:inline-block;
	width: 80px;
	height: 20px;
	background: #c63;
	text-align: center;
	margin: 5px;
}

div.evalpos{
    display:inline-block;
	width: 30px;
	height: 20px;
	background: #6c6;
	text-align: center;
	margin: 6px;
}

div.evalneg{
    display:inline-block;
	width: 30px;
	height: 20px;
	background: #c63;
	text-align: center;
	margin: 6px;
}

div.posvotes{
    display:inline-block;
	width: 30px;
	height: 20px;
	background: rgba(255,255,255,0);
	text-align: right;
}

div.negvotes{
    display:inline-block;
	width: 30px;
	height: 20px;
	background: rgba(255,255,255,0);
	text-align: left;
}

div.zoombutton{
    display:inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	border: solid;
	border-width: 2px;
	border-color: #000;
}

#svg {
  position: absolute;
}

#right_bar {
  padding: 5px 5px 5px 5px;
  position: relative;
  width: 370px;
  height:100%;
  background: rgba(212,190,244,0.3);
  border-left: solid 2px rgba(163,128,180,.5);
}

#left_bar {
  position: absolute;
  top: 60px;
  margin-left: 10px;
  width: 120px;
}

#vis div {
  border: 1px dashed #ccc;
}



#right_bar2 {
  padding: 200px;
  position: relative;
  width: 100%;
  height:100%;
  background: rgba(212,190,244,0.3);
  border-left: solid 2px rgba(163,128,180,.5);
}

#big_background {
  position: absolute;
  width: 100%;
  height:100%;
  background:rgba(255,255,255,0.7);
}

.huge_panel_1 {
	position: fixed;
	top:20%;
	height:50%;
	left:0%;
	width: 100%;
	background: rgba(255, 255, 255, 0);
	-webkit-transition-property: left;
    -webkit-transition-duration: 800ms;
    transition-property: left;
    transition-duration: 800ms;
}

.huge_panel_2 {
	display: inline-block;
	position: fixed;
	top:15%;
	left:130%;
	width: 	35%;;
	height: 65%;
	padding: 2%;
	background: rgba(65,99,233,0.1);
	border: solid 1px #ccc;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition-property: left;
    -webkit-transition-duration: 800ms;
    transition-property: left;
    transition-duration: 800ms;
}

.huge_panel_3 {
	display: inline-block;
	position: fixed;
	top:15%;
	left:140%;
	height: 330px;
	padding:20px;
	background: rgba(65,99,233,0.1);
	border: solid 1px #ccc;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition-property: left;
    -webkit-transition-duration: 800ms;
    transition-property: left;
    transition-duration: 800ms;
}

.big_panel{
	display: inline-block;
	position:relative;
	margin-left:25px;
	margin-right:25px;
	width: 240px;
	height: 300px;
	background: rgba(65,99,233,0.1);
	border: solid 1px #ccc;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.big_button{
	display: inline-block;
	position: relative;
	top: 90px;
	margin:0px;
	width: 150px;
	height: 80px;
	background: #99f;
	text-align: center;
	line-height:80px;
	font-size: 17pt;
	border: solid 2px #336;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

.big_label{
	display: inline-block;
	position: relative;
	top: 125px;
	margin:0px;
	width: 240px;
	height: 30px;
	background: rgba(0,0,0,0);
	text-align: center;
	line-height:10px;
	font-size: 12pt;
}

div.big_button:hover{
	border-color: #c33;
}

div.big_button:hover + .big_label{
	text-shadow: 0 0 0.2em #fc0,  0 0 0.8em #fc3;
}

div.big_button:active{
	-webkit-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.5); 
}

.conv_select_panel{
	display: inline-block;
	position: absolute;
	width: 240px;
	height: 30px;
	background: rgba(0,0,0,0);
}

.conv_info{
	display: inline-block;
	position: absolute;
	height: 50%;
	width: 89%;
	background: rgba(0,0,0,0);
    border: solid 1px #aaa;
	margin-top:65px;
	text-align:center;
	line-height: 150px;
	font-size:13pt;
    -moz-border-radius: 5px;
    border-radius:5px;
}

.bt_panel{
	display: inline-block;
	position:absolute;
	left:5%;
	width: 90%;
	bottom:1px;
}

.conv_ok{
	display: inline-block;
	position:relative;
	width: 100px;
	height: 40px;
	margin:20px;
	background: #6c6;
	text-align: center;
	line-height:40px;
	font-size: 13pt;
}

.conv_cancel{
	display: inline-block;
	position:relative;
	width: 100px;
	height: 40px;
	margin:20px;
	background: #c63;
	text-align: center;
	line-height:40px;
	font-size: 13pt;
}

.new_header {
  padding: 4px 4px 4px 4px;
  background: rgb(227,226,230);
  border: solid 1px #aaa;
  height:22px;
  text-align:center;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.new_title {
  display: inline-block;
  position: relative;
  width: 365px;
  height: 25px;
  border: solid 1px #aaa;
  resize: none;
}

.new_first {
  display: inline-block;
  width: 365px;
  min-height: 0px;
  height: 90px;
  max-height:90px;
  border: solid 1px #aaa;
  resize: vertical;
}

.new_name_header {
  padding: 4px 4px 4px 4px;
  background: rgb(227,226,230);
  border: solid 1px #aaa;
  height:16px;
  width:142px;
  text-align:center;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.new_name {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 25px;
  border: solid 1px #aaa;
  text-align: center;
  resize: none;
}

.node {
  stroke-width: 2px;
}

.link {
  stroke-opacity: .7;
}

